<div class="container-fluid">
  <div class="card bd-0">
    <img src="./assets/cart.jpg" alt="shoping web site" width="500" height="333">
    <h3> <u> Categories </u></h3>
    <option></option>
    <div *ngFor = "let object of catagoryArrray">
      <h3 (click) = "getDataByCategory(object)">{{object?.p_category}}</h3> 
    </div>
    <button (click) = "clearData()"> Clear Filter </button>
    <option></option>
    <div class="card-header text-center">
    <h3>Enter a value</h3>
    <p><input [(ngModel)]="value"></p>
    </div>
    <option></option>
    <div class="card-body pdt-0">
      <h3> <u> Total List </u></h3>
      <option></option>
      <div *ngFor = "let object of listData">
        <option> Name: {{object?.p_name}}</option>
        <option> Discription: {{object?.p_details}} </option>
        <option> Availability: {{object?.p_availability}} </option>
        <option> Cost: {{object?.p_cost}} </option>
        <option></option>
      </div>
    </div>
  </div>
</div>